!!! 5
html
  head
    title dwitto!
  body
    #page1(data-role='page')
      div(data-theme='a', data-role='header', data-position='fixed')
        h1 dwitto!
      div(data-theme='d', data-role='content')
        h2
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim risus, varius ac eleifend nec, egestas vel leo. Praesent quis sodales odio. Fusce ac nulla quam. Nam condimentum tellus sed odio placerat varius. Donec pretium ante ac erat sollicitudin interdum. Nunc ullamcorper hendrerit velit sit amet porta. Pellentesque eget rutrum eros. Quisque rutrum pellentesque porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas tristique consectetur magna, id varius quam eleifend in. Morbi metus lorem, tincidunt id eleifend ut, facilisis id arcu. Aliquam luctus sagittis ultrices.
      div(data-role='content')
        div(data-role='collapsible-set', data-theme='d', data-content-theme='d')
          div(data-role='collapsible', data-collapsed='false')
            h3 Let's log in
            form(action='login', method='POST')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-mini='true')
                  label(for='loginUsername')
                  input#loginUsername(placeholder='Username', value='', type='text')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-mini='true')
                  label(for='loginPassword')
                  input#loginPassword(placeholder='Password', value='', type='password')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-type='vertical', data-mini='true')
                  legend
                  input#rememberMeCheckBox(name='rememberMeCheckBox', type='checkbox')
                  label(for='rememberMeCheckBox')
                    | Don't forget me!
              input(type='submit', data-icon='arrow-r', data-iconpos='right', value="Log in", data-mini='true',
              data-theme='e', data-content-theme='e')
          div(data-role='collapsible', data-collapsed='true')
            h3 Sign me up!
            form(action='register', method='POST')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-mini='true')
                  label(for='signupusername')
                  input#signupusername(placeholder='Username', value='', type='text')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-mini='true')
                  label(for='signupemail')
                  input#signupemail(placeholder='Email', value='', type='email')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-mini='true')
                  label(for='signuppassword')
                  input#signuppassword(placeholder='Password', value='', type='password')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-mini='true')
                  label(for='signuppasswordconfirm')
                  input#signuppasswordconfirm(placeholder='Confirm password', value='', type='password')
              div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-type='vertical', data-mini='true')
                  legend
                  input#signuptosagree(name='checkbox2', type='checkbox')
                  label(for='signuptosagree') I agree to ToS
              input(type='submit', data-icon='arrow-r', data-iconpos='right', value="Sign up", data-mini='true',
              data-theme='e', data-content-theme='e')
    script
      //App custom javascript
